/*Global*/
a{
	text-decoration:none;
	outline:none;
}
body{
	margin:0;

}
article,
aside,
footer,
header,
nav,
section {
	display: block;
}
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
/*Global*/
form{
	padding:0;
	margin:0;
}
.hidden{
	display:none;
}
.section_1 form{
	position:relative;
}
.section_2 .user_info{
	width:40%;
	margin:0;
	padding:40px 0 0 0;
}
.search_btn{
	background-color:#000;
	color:#fff;
	border:none;
	outline:none;
	margin:0 5px;
	padding:5px 25px 5px 5px;
	cursor:pointer;
	position:relative;
	border-radius:5px;
}
.edit,.watch,.delete{
	display:block;
	text-align:center;
	cursor:pointer;
}
.search_btn:before{
	position:absolute;
	content:'';
	background:url("../img/lence_icon.png")no-repeat center;
	right:2px;
	top:3px;
	width:22px;
	height:20px;
	transform:rotate(-14deg);

}
.left_side{
	width:10%;
	display:inline-block;
	vertical-align:top;
	height:100%;
}
.left_side ol{
	margin:0 auto;
	padding:10px 20px 0 20px;
	counter-reset:item;
}

.left_side ol li{
	padding:6px 20px 5px 30px;
	margin-bottom:9px;
	font:600 16px/18px Arial,serif;
	color:#282828;
	border-bottom:1px dashed #454545;
	position:relative;
	list-style:none;
	cursor:pointer;

}
.search_table tr td{
	border-bottom:none;
	width:100%;
}
.left_side ol li:before{
	content: counter(item);
	counter-increment: item;
	position: absolute;
	left: 0;
	top:50%;
	transform:translateY(-50%);
	font: 300 12px/8px Arial,serif;
	color: #fff;
	background-color: #777620;
	padding: 6px;
	border-radius: 40px;
}
.right_side{
	width:84%;
	display:inline-block;
	border-left:5px solid #5f3f3f;
}
.search{
	width:85%;
	margin:5px auto 5px auto;
	border: 1px solid #007fff;
}
.search input{
	width:100%;
}
.section_0{
	width:85%;
	margin:50px auto 0 auto;
}
.user_info{
	width:85%;
	margin:40px 0 0 0;

}
.user_info{
	text-align:left;
}
.user_info thead th{
	border:5px solid #282828;
	width:calc(100%/8);
}
.user_info thead th span{
	display:block;
	padding:5px 10px;

}
.user_info tr td{
	width:calc(100%/8);
	border:1px solid #282828;
}
.user_info tr td span{
	display:block;
	padding:5px 10px;
}
.user_info select {
	width:100%;
}
.row_width td:first-child{
	width:calc(100%/8);
}
.row_width td:last-child{
	width:100%;
}
.row_width td span{
	padding:5px 10px;
	display:block;
}
.section_3{
	width:85%;
	padding-top:40px;
}
.section_1,.section_2,.section_3{
	padding-left:20px;
}
form.info_fields label input{
	width:200px;
	padding:5px 10px;
	border:1px solid #007fff;
}
form.info_fields label span{
	display:block;
	padding:10px 0;
}
form.info_fields select{
	display:block;
	padding:10px;
	width:200px;
	border:1px solid #007fff;
	background-color:#fff;
}
form.info_fields{
	margin-bottom:200px;
}
button{
	display:block;
	margin-top:20px;
	width:120px;
	height:30px;
	background-color:#5f3f3f;
	outline:none;
	text-transform:uppercase;
	color:#fff;
}
table tr:nth-child(even){
	background-color:#cee2d3;
}
table tr:nth-child(odd){
	background-color:#e6e3da;
}
.form_section_3{
	display:flex;
	justify-content:flex-start;
}
.right_form_side,.left_form_side{
	padding:0 20px;
}
.right_form_side span,.left_form_side span{
	display:block;
	padding-bottom:20px;
}
#osn{
	color: rgba(76, 76, 76, 1);
	font-size: 18px;
	font-family: 'Roboto Slab', serif, sans-serif;
	margin:0 auto;
	position:relative;
	width:600px;
	height:100%;
	min-height:250px;
	margin-top:70px;
	margin-bottom:70px;
}
h4 {
	color:red;
}
a {
	color: inherit;
}